.default__icon__style{
  font-size:20px;
  padding-right: 5px;
}

.default__text__style{
  font-size:16px;
}

.title__products__css{
  font-size: 48px;
  font-weight: 700;
}

.sub__title__products__css{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 3px;
}